@{
    ViewData["Title"] = "Products Page";    
}
@model List<Category>
<div class="Container">
    <div class="row mb-3">
        <div class="col-6">
            <a asp-controller="Category" asp-action="CategoryNew" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-primary text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {                 
                    <tr>
                        <td></td>
                        <td>@item.Name</td>
                        <td>@item.Detail</td>
                    </tr>   
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>