@{
    ViewData["Title"] = "New Category";
}
@model MvcApp1.Models.Request.CategoryRequest
<div class="Container">
    <form action="@Url.Action("CreateNewCategory", "Category")" method="post">
        <div class="row">
            <h4 class="col-sm-auto py-4 ">Create New Category</h4>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
            @Html.TextBoxFor(m=>m.Name,new {@class="form-control"})
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text h-100" id="basic-addon1">Detail</span>
            </div>
            @Html.TextAreaFor(m=>m.Detail,new {@class="form-control",@style="resize:none;"})
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-auto">
                <input type="submit" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
</div>