@{
    ViewData["Title"] = "Products Page";
}
<div class="Container">
    <div class="row mb-3">
        <div class="col-6">
            <a asp-controller="Category" asp-action="CategoryNew" class="btn btn-primary">Create New</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-primary text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>