@{
  ViewData["Title"] = "LogIn";
}
@model MvcApp1.Models.Request.UserSpecefication
<section class="h-100 h-custom gradient-custom-2">
  <form method="post" asp-action="SignIn">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-6">                
                <div class="p-5">
                  <h3 class="fw-normal mb-5" style="color: #4835d4;">General Infomation</h3>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" asp-for="FirstName" id="form3Examplev2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev2">First name</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                      <div class="form-outline">
                        <input type="text" asp-for="LastName" id="form3Examplev3" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplev3">Last name</label>
                      </div>

                    </div>
                  </div>
                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text" asp-for="NationalCode" id="form3Examplev4" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev4">National Code</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 mb-5 pb-2 form-outline">
                      <input type="text" asp-for="Password" id="Password" class="form-control" />
                      <label for="Password" class="form-label">Password</label>
                    </div>
                    <div class="col-sm-6 mb-5 pb-2">
                      <input type="text" id="ConfirmPassword" class="form-control" />
                      <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-6 bg-indigo text-white">
                <div class="p-5">
                  <h3 class="fw-normal mb-5">Contact Details</h3>
                <div class="row">
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline form-white">
                      <select id="form3Examplea2" asp-for="CarModel" class="form-control form-control-lg">
                        <option value="پراید">پراید</option>
                        <option value="پژو">پژو</option>                        
                        <option value="audi">Audi</option>
                      </select>
                      <label class="form-label" for="form3Examplea2">Your Car </label>
                    </div>                    
                  </div>
                  <div class="col-4 form-outline form-white">
                    <select class="form-control form-control-lg" asp-for="ConstructionYear" name="ReduceDate">
                      <option value="1401">1401</option>
                      <option selected value="1400">1400</option>
                      <option value="1399">1399</option>
                      <option value="1398">1398</option>
                      <option value="1397">1397</option>
                      <option value="1396">1396</option>
                      <option value="1395">1395</option>
                      <option value="1394">1394</option>
                      <option value="1393">1393</option>
                      <option value="1392">1392</option>
                      <option value="1391">1391</option>
                      <option value="1390">1390</option>
                      <option value="1389">1389</option>
                      <option value="1388">1388</option>
                      <option value="1387">1387</option>
                      <option value="1386">1386</option>
                      <option value="1385">1385</option>
                    </select>
                    <label class="form-label" for="form3Examplea2">Reduce Date</label>
                  </div>
                  <div class="col-4 form-outline form-white">
                    <select class="form-control form-control-lg" asp-for="CarColor" id="CarColor">
                      <option value="بژ">بژ</option>                      
                      <option value="قرمز">قرمز</option>
                      <option value="نقره ای">نقره ای</option>
                      <option value="خاکستری">خاکستری</option>
                      <option value="مشکی">مشکی</option>
                      <option value="آبی">آبی</option>
                      <option value="سبز">سبز</option>
                      <option value="زرد">زرد</option>
                      <option value="سفید">سفید</option>                      
                    </select>
                    <label class="form-label" for="CarColor">color</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12  mb-md-5 form-outline">
                    <input type="text" id="form3Examplea4" asp-for="CarPallete" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Examplea4" required>Pallete</label>
                  </div>
                </div>
                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea3" asp-for="AdditionalInformation" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea3">Additional Information</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea6" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea6">Country</label>
                    </div>
                  </div>

                  <div class="row">                    
                    <div class="col-md-5 mb-4 pb-2">

                      <div class="form-outline form-white">
                        <input type="text" id="form3Examplea8" asp-for="PhoneNumber" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea8">Phone Number</label>
                      </div>

                    </div>
                  </div>

                  <div class="mb-4">
                    <div class="form-outline form-white">
                      <input type="text" id="form3Examplea9" asp-for="Email" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea9">Your Email</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4 pb-3">
                    <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label text-white" for="form2Example3">
                      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                      site.
                    </label>
                  </div>
                  <button type="submit" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>